sumo/ filter=lfs diff=lfs merge=lfs -text
sumo/**/*.xml filter=lfs diff=lfs merge=lfs -text
sumo/**/*.gz filter=lfs diff=lfs merge=lfs -text
sumo/**/*.rou.xml filter=lfs diff=lfs merge=lfs -text
library/sumo/ filter=lfs diff=lfs merge=lfs -text
library/sumo/**/*.xml filter=lfs diff=lfs merge=lfs -text
library/sumo/**/*.gz filter=lfs diff=lfs merge=lfs -text
library/sumo/**/*.rou.xml filter=lfs diff=lfs merge=lfs -text
